<section class="day">

  <h3 class="day-title">{{ date | i18nDate:{ dateStyle: 'full' } }}</h3>

  <div class="entries">
    @for (e of entries; track e.id) {
    <mat-card class="modern-card" appearance="outlined">
      <mat-card-content class="entry-container">

        <div class="entry-details">
          <div class="duration-indicator">
            <mat-icon>timer</mat-icon>
            <span class="minutes">{{ e.durationMinutes/60 }} hrs.</span>
          </div>

          <div class="info-text">
            <p class="type-label">{{ e.typeLabel }}</p>
            <p class="entry-date">Registrado hoy</p>
          </div>

          <mat-chip-set>
            <mat-chip class="category-chip">
              {{ e.typeLabel }}
            </mat-chip>
          </mat-chip-set>
        </div>

        <!-- Sección de Notas -->
        <div class="entry-notes">
          <mat-icon class="note-icon">description</mat-icon>
          <p class="note-text">
            {{ e.notes || 'Sin observaciones adicionales' }}
          </p>
        </div>
      </mat-card-content>
      
      <mat-card-actions align="end">
        <button mat-icon-button aria-label="Edit entry" (click)="onEdit(e)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    } @empty {
    <div class="empty-state">
      <mat-icon>event_busy</mat-icon>
      <p>No hay entradas disponibles.</p>
    </div>
    }
  </div>

</section>