<div class="form-container">
  <!-- Área con Scroll: Aquí van todos tus inputs -->
  <div class="form-content">
    <form class="time-form" [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
      <!-- Date -->
      <mat-form-field appearance="outline">
        <mat-label>{{ 'timeEntry.form.date' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" (dateChange)="onDateChange()" />
        <!-- Forzamos el estado dirty -->
        <mat-datepicker-toggle matSuffix [for]="picker" />
        <mat-datepicker #picker />
        <mat-error *ngIf="form.get('date')?.hasError('required')">
          {{ 'errors.required' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Type -->
      <mat-form-field appearance="outline">
        <mat-label>{{ 'timeEntry.form.type' | translate }}</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type">
            {{ ('timeEntry.form.typeOptions.' + type) | translate }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('type')?.hasError('required')">
          {{ 'errors.required' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Duration -->
      <ma-duration-wheel-picker formControlName="durationMinutes"></ma-duration-wheel-picker>

      <!-- Notes -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'timeEntry.form.notes' | translate }}</mat-label>
        <textarea matInput formControlName="notes" rows="3"></textarea>
      </mat-form-field>
    </form>
  </div>
</div>