<form
  class="time-form"
  [formGroup]="form"
  (ngSubmit)="submit()"
>

  <!-- Fecha -->
  <mat-form-field appearance="outline">
    <mat-label>{{ 'timeEntry.form.date' | translate }}</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker" />
    <mat-datepicker #picker />
  </mat-form-field>

  <!-- Tipo -->
  <mat-form-field appearance="outline">
    <mat-label>{{ 'timeEntry.form.type' | translate }}</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let type of types" [value]="type">
        {{ ('timeEntry.form.typeOptions.' + type) | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Minutos -->
  <mat-form-field appearance="outline" class="minutes-field">
    <mat-label>{{ 'timeEntry.form.durationMinutes' | translate }}</mat-label>
    <input
      matInput
      type="number"
      inputmode="numeric"
      formControlName="minutes"
      placeholder="Minutos"
    />
  </mat-form-field>

  <!-- Presets -->
  <div class="presets">
    <button
      mat-stroked-button
      type="button"
      *ngFor="let p of presets"
      (click)="setPreset(p)"
    >
      {{ p }} min
    </button>
  </div>

  <!-- Guardar -->
  <button
    mat-raised-button
    color="primary"
    class="submit-btn"
    type="submit"
    [disabled]="form.invalid"
  >
    {{ 'common.buttons.save' | translate }}
  </button>

</form>