<form (ngSubmit)="submit()" class="time-entry-form">
  <label for="te-date">
    {{ 'timeEntry.form.date' | translate }}
  </label>
  <input id="te-date" type="date" [(ngModel)]="date" name="date" required />

  <label for="te-duration">
    {{ 'timeEntry.form.durationMinutes' | translate }}
  </label>
  <input id="te-duration" type="number" [(ngModel)]="duration" name="duration" />

  <label for="te-type">
    {{ 'timeEntry.form.type' | translate }}
  </label>
  <select id="te-type" [(ngModel)]="type" name="type" aria-label="{{ 'timeEntry.form.type' | translate }}">
    <option value="preaching">{{ 'timeEntry.form.typeOptions.preaching' | translate }}</option>
    <option value="study">{{ 'timeEntry.form.typeOptions.study' | translate }}</option>
    <option value="visiting">{{ 'timeEntry.form.typeOptions.visiting' | translate }}</option>
    <option value="other">{{ 'timeEntry.form.typeOptions.other' | translate }}</option>
  </select>

  <button id="te-add" type="submit" aria-label="{{ 'timeEntry.form.addAria' | translate }}">{{ 'timeEntry.form.add' | translate }}</button>
</form>
